<%- include('partials/header') %>   

    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid page-header" style="margin-bottom: 90px;">
        <div class="container text-center py-5">
            <h1 class="text-white display-3 mt-lg-5">Our Gallery</h1>
            <div class="d-inline-flex align-items-center text-white">
                <i class="fa fa-circle px-3"></i>
                <p class="m-0">Gallery</p>
            </div>
        </div>
    </div>
    <!-- Header End -->

 <!-- Gallery Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="section-title position-relative mb-5 text-center">Our Delicious Offerings</h1>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="gallery-item border rounded p-3 bg-light">
                    <a href="img/classic-milk-tea.jpg" data-lightbox="gallery">
                        <img src="img/gall1.jpg" alt="Classic Milk Tea" class="img-fluid">
                    </a>
                    <h5 class="text-center mt-2">Our Lovely Customers</h5>
                    <p class="text-center">Order our drinks now and be one of them.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="gallery-item border rounded p-3 bg-light">
                    <a href="img/fruit-milk-tea.jpg" data-lightbox="gallery">
                        <img src="img/gall2.jpg" alt="Fruit Milk Tea" class="img-fluid">
                    </a>
                    <h5 class="text-center mt-2">Our Cozy Shop</h5>
                    <p class="text-center">What are you waiting for? Visit our shop now.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="gallery-item border rounded p-3 bg-light">
                    <a href="img/specialty-milk-tea.jpg" data-lightbox="gallery">
                        <img src="img/gall3.jpg" alt="Specialty Milk Tea" class="img-fluid">
                    </a>
                    <h5 class="text-center mt-2">Our Shop During Valentine's Day</h5>
                    <p class="text-center">You can visit our physical shop to enjoy the ambiance of our place.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="gallery-item border rounded p-3 bg-light">
                    <a href="img/milk-tea-smoothie.jpg" data-lightbox="gallery">
                        <img src="img/gall4.jpg" alt="Milk Tea Smoothie" class="img-fluid">
                    </a>
                    <h5 class="text-center mt-2">Customers' Favorite</h5>
                    <p class="text-center">Explore our menu now for you to catch your favorite.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="gallery-item border rounded p-3 bg-light">
                    <a href="img/toppings.jpg" data-lightbox="gallery">
                        <img src="img/gall5.jpg" alt="Delicious Toppings" class="img-fluid">
                    </a>
                    <h5 class="text-center mt-2">Order of our Customers</h5>
                    <p class="text-center">Order now for the ultimate milk tea experience.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="gallery-item border rounded p-3 bg-light">
                    <a href="img/shop-interior.jpg" data-lightbox="gallery">
                        <img src="img/gall6.jpg" alt="Shop Interior" class="img-fluid">
                    </a>
                    <h5 class="text-center mt-2">Our Shop During Christmas Season</h5>
                    <p class="text-center">Come and enjoy your drinks in our cozy shop, designed for comfort and relaxation.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Gallery End -->


<%- include('partials/footer') %>   
